.row-1 {
  display: flex;
  justify-content: space-between;
}

.row-2 {
  display: flex;
  justify-content: space-between;
}

.macro {
  width: 85px;
}

.calories {
  display: flex;
  flex-direction: column;
}

.calories-text {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #92a1af;
  margin-bottom: 16px;
  padding-left: 5px;
  font-weight: bold;
  box-shadow: inset 0px 1.5px 3px #d6d6d6;

  display: flex;
  align-items: center;
}